h1{
    font-size: 30px;
    color :purple;
    margin-bottom: -20px;
}
p{
    color :purple;
    font-size: 25px;

}

#main{
    margin-left: -30px;
    margin-right: -30px;

}
body {
    background-color: #B19CD8;
    margin: auto;
    width: 50%;

}


